<!doctype html>
<html ng-app="RESTDriver"> 
  <head>
    <meta charset="utf-8">
    <title>REST Driver</title>
    <link rel="stylesheet" href="rest.css">
    <script src="angular.min.js" type="text/javascript"></script>
    <script src="rest.js" type="text/javascript"></script>
  </head>
  <body ng-controller="MainCtrl">
    <h3>REST Driver</h3>
    <span ng-show="working" class="loading">Loading</span>
    <br class="clear" />
    <form class="formfield" name="RESTForm">
      <label class="left">URL:</label>
      <input name="rest-url" id="url" required type="text" ng-model="url" placeholder="URL to hit" class="len" auto-complete />
      <br />
      
      <label class="left">Port:</label>
      <input required type="text" ng-model="port" class="short" />
      <label class="right">Operation:</label>
      <select required ng-options="opt for opt in options" ng-model="operation"></select>
      <br />
      
      <label class="left" for="body">Body:</label>
      <textarea ng-model="body" id="body" class="len" rows="5">
      
      </textarea>
      <br />
      <button ng-click="doREST()" ng-disabled="RESTForm.$invalid" style="float: right;">{{operation}}</button>
    </form>
    
    <br class="clear" />
    <p class="small">{{operation}} to {{url}}</p>
    
    <p class="formfield">
      <div class="error" ng-model="error">{{error}}</div>
      <label class="left">Code:</label>
      <input ng-model="code" class="len" />
      <br />
      
      <label class="left">Response:</label>
      <textarea ng-model="response" class="len" rows="10"></textarea>
      <br />
    </p>
  </body>
</html>