.clear {
  clear: both;
}

.formfield {
  width: 406px;
}

.formfield * {
  vertical-align: super;
}

label.left {
  width: 40px;
  float: left;
}

label.right {
  padding: 0 14px 0 14px;
}

input, textarea {
  margin-left: 60px;
}

.len {
  width: 300px;
}

.short {
  width: 95px;
}

.error {
  color: red;
  padding-bottom: 15px;
}

.small {
  font-size: smaller;
}

h3 {
  float: left;
}

.loading {
  background-image: url('loader.gif');
  margin: 25px 0 0 255px;
  text-indent: -9999px;                 /* sends the text off-screen */
  height: 11px;
  width: 16px;
  white-space: nowrap;
  float: left;
}